In [2]:
#Importamos librerias necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import sqlalchemy
from sqlalchemy import create_engine
import sqlite3
import ast

In [2]:
# Establecemos el maximo del ancho de columnas
pd.set_option('max_colwidth', 100)

# Importa el archivo CSV a una variable
df = pd.read_csv('Dataset/movies_dataset.csv', dtype=object)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  object
 16  runtime                45203 non-null  object
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  object
 23  vote_count             45460 non-null  object
dtypes: object(24)
memory usage: 8.3+ MB
None

In [3]:
# Eliminar las columnas que no serán utilizadas
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
df.drop(columns=columns_to_drop, inplace=True)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  object
 11  runtime                45203 non-null  object
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  object
 17  vote_count             45460 non-null  object
dtypes: object(18)
memory usage: 6.2+ MB
None

In [4]:
# Función para extraer el nombre de la colección
def extract_collection_name(x):
    if pd.notnull(x):
        start_idx = x.find("'name': '") + len("'name': '")
        end_idx = x.find("'", start_idx)
        return x[start_idx:end_idx] if start_idx > -1 and end_idx > -1 else None
    return None

# Desanidar la columna 'belongs_to_collection' y extraer el campo 'name'
df['belongs_to_collection'] = df['belongs_to_collection'].apply(extract_collection_name)

# Mostrar los primeros 5 registros para verificar los cambios
print(df['belongs_to_collection'].head(5))

0              Toy Story Collection
1                              None
2         Grumpy Old Men Collection
3                              None
4    Father of the Bride Collection
Name: belongs_to_collection, dtype: object

In [5]:
# Guardar el DataFrame en un nuevo archivo CSV
df.to_csv('Dataset/movies_dataset_cleaned.csv', index=False)

In [6]:
# Establecemos el maximo del ancho de columnas
pd.set_option('max_colwidth', 100)

# Leer el archivo CSV
df = pd.read_csv('Dataset/movies_dataset_cleaned.csv', dtype=object)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  object
 11  runtime                45203 non-null  object
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  object
 17  vote_count             45460 non-null  object
dtypes: object(18)
memory usage: 6.2+ MB
None

In [7]:
# Función para obtener los géneros separados por comas
def get_genre_names(genres_list):
    try:
        genres = ast.literal_eval(genres_list)
        if isinstance(genres, list):
            return ', '.join([genre['name'] for genre in genres])
        else:
            return ''
    except (SyntaxError, ValueError):
        return ''

# Aplicar la función a la columna "genres" para obtener los géneros separados por comas
df['genres'] = df['genres'].apply(get_genre_names)

# Mostrar los primeros 5 registros de la columna "genres"
print(df['genres'].head())

0     Animation, Comedy, Family
1    Adventure, Fantasy, Family
2               Romance, Comedy
3        Comedy, Drama, Romance
4                        Comedy
Name: genres, dtype: object

In [8]:
# Función para obtener las compañías de producción separadas por comas
def get_production_companies_names(companies_list):
    try:
        companies = ast.literal_eval(companies_list)
        if isinstance(companies, list):
            return ', '.join([company['name'] for company in companies])
        else:
            return ''
    except (SyntaxError, ValueError):
        return ''

# Aplicar la función a la columna "production_companies" para obtener las compañías separadas por comas
df['production_companies'] = df['production_companies'].apply(get_production_companies_names)

# Mostrar los primeros 5 registros de la columna "production_companies"
print(df['production_companies'].head())

0                                      Pixar Animation Studios
1    TriStar Pictures, Teitler Film, Interscope Communications
2                                 Warner Bros., Lancaster Gate
3                       Twentieth Century Fox Film Corporation
4                   Sandollar Productions, Touchstone Pictures
Name: production_companies, dtype: object

In [9]:
# Función para obtener los países de producción separados por comas
def get_production_countries_names(countries_list):
    try:
        countries = ast.literal_eval(countries_list)
        if isinstance(countries, list):
            return ', '.join([country['name'] for country in countries])
        else:
            return ''
    except (SyntaxError, ValueError):
        return ''

# Aplicar la función a la columna "production_countries" para obtener los países separados por comas
df['production_countries'] = df['production_countries'].apply(get_production_countries_names)

# Mostrar los primeros 5 registros de la columna "production_countries"
print(df['production_countries'].head())

0    United States of America
1    United States of America
2    United States of America
3    United States of America
4    United States of America
Name: production_countries, dtype: object

In [10]:
# Función para obtener los idiomas hablados separados por comas
def get_spoken_languages_names(languages_list):
    try:
        languages = ast.literal_eval(languages_list)
        if isinstance(languages, list):
            return ', '.join([language['name'] for language in languages])
        else:
            return ''
    except (SyntaxError, ValueError):
        return ''

# Aplicar la función a la columna "spoken_languages" para obtener los idiomas separados por comas
df['spoken_languages'] = df['spoken_languages'].apply(get_spoken_languages_names)

# Mostrar los primeros 5 registros de la columna "spoken_languages"
print(df['spoken_languages'].head())

# Guardar el DataFrame en un nuevo CSV
df.to_csv('Dataset/movies_dataset_cleaned.csv', index=False)

0              English
1    English, Français
2              English
3              English
4              English
Name: spoken_languages, dtype: object

In [11]:
# Importa el archivo CSV a una variable
df = pd.read_csv('Dataset/movies_dataset_cleaned.csv', dtype=object)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 43024 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   33585 non-null  object
 8   production_countries   39178 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  object
 11  runtime                45203 non-null  object
 12  spoken_languages       41508 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  object
 17  vote_count             45460 non-null  object
dtypes: object(18)
memory usage: 6.2+ MB
None

In [12]:
# Rellenar los valores nulos de las columnas "revenue" y "budget" con 0
df['revenue'].fillna(0, inplace=True)
df['budget'].fillna(0, inplace=True)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 43024 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   33585 non-null  object
 8   production_countries   39178 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45466 non-null  object
 11  runtime                45203 non-null  object
 12  spoken_languages       41508 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  object
 17  vote_count             45460 non-null  object
dtypes: object(18)
memory usage: 6.2+ MB
None

In [13]:
# Verificar que no hay valores nulos en las columnas "revenue" y "budget"
print(df['revenue'].isnull().sum())
print(df['budget'].isnull().sum())

0
0

In [14]:
# Eliminar filas con valores nulos en la columna "release_date"
df.dropna(subset=['release_date'], inplace=True)

# Mostrar la forma (shape) del DataFrame después de eliminar los valores nulos en "release_date"
print(df.shape)

(45379, 18)

In [15]:
# Contar la cantidad de registros con valor nulo en la columna "release_date"
null_release_date_count = df['release_date'].isnull().sum()

# Mostrar la cantidad de registros con valor nulo
print("Cantidad de registros con valor nulo en la columna 'release_date':", null_release_date_count)

Cantidad de registros con valor nulo en la columna 'release_date': 0

In [16]:
# Eliminar registros con valor nulo en la columna "release_date"
df = df.dropna(subset=['release_date'])

# Mostrar la nueva forma del DataFrame después de eliminar los registros
print("Nueva forma del DataFrame después de eliminar registros:", df.shape)

Nueva forma del DataFrame después de eliminar registros: (45379, 18)

In [17]:
# Convertir la columna "release_date" al formato de fecha de pandas
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Crear la columna "release_year" con el año de la fecha de estreno
df['release_year'] = df['release_date'].dt.year

# Mostrar los primeros 5 registros para verificar los cambios
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear o...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033,81.0,English,Released,NaN,Toy Story,7.7,5415,1995.0
1,NaN,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an enchanted board game that opens the door to a magical w...,17.015539,"TriStar Pictures, Teitler Film, Interscope Communications",United States of America,1995-12-15,262797249,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413,1995.0
2,Grumpy Old Men Collection,0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,6.5,92,1995.0
3,NaN,16000000,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusi...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156,127.0,English,Released,Friends are the people who let you be yourself... and never let you forget it.,Waiting to Exhale,6.1,34,1995.0
4,Father of the Bride Collection,0,Comedy,11862,en,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she'...",8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911,106.0,English,Released,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,Father of the Bride Part II,5.7,173,1995.0

In [18]:
# Función para calcular el retorno de inversión
def calculate_return(revenue, budget):
    try:
        revenue = float(revenue)
        budget = float(budget)
        if budget > 0:
            return revenue / budget
        else:
            return 0
    except (ValueError, TypeError):
        return 0

# Crear la columna "return" y calcular el retorno de inversión para cada película
df['return'] = df.apply(lambda row: calculate_return(row['revenue'], row['budget']), axis=1)

# Mostrar la forma (shape) del DataFrame
print(df.shape)

(45379, 20)

In [19]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('Dataset/movies_dataset_cleaned_finish.csv', index=False)

# Mostrar un mensaje de confirmación
print("El DataFrame se ha guardado en el archivo CSV correctamente.")

El DataFrame se ha guardado en el archivo CSV correctamente.

In [20]:
#Muestra la informacion del DATA FRAME
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45379 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45379 non-null  object
 2   genres                 42995 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   33580 non-null  object
 8   production_countries   39165 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45379 non-null  object
 11  runtime                45130 non-null  object
 12  spoken_languages       41485 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  object
 17  vote_count             45376 non-null  object
 18  release_year           45376 non-null  float64
 19  return                 45379 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(17)
memory usage: 7.3+ MB
None

In [21]:
# Importa el archivo CSV a una variable
df = pd.read_csv('Dataset/movies_dataset_cleaned_finish.csv', dtype=object)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45379, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45379 non-null  object
 2   genres                 42995 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   33580 non-null  object
 8   production_countries   39165 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45379 non-null  object
 11  runtime                45130 non-null  object
 12  spoken_languages       41485 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  object
 17  vote_count             45376 non-null  object
 18  release_year           45376 non-null  object
 19  return                 45379 non-null  object
dtypes: object(20)
memory usage: 6.9+ MB
None

In [22]:
# Cambiar valores nulos en las columnas
columns_to_clean = ['belongs_to_collection', 'genres', 'original_language', 'overview', 'production_companies',
                    'production_countries', 'spoken_languages', 'status', 'tagline']

for column in columns_to_clean:
    if column == 'runtime':
        df[column].fillna(0, inplace=True)
    else:
        df[column].fillna('undefined', inplace=True)

# Verificar el resultado
missing_values = df.isnull().sum()
print(missing_values)

belongs_to_collection      0
budget                     0
genres                     0
id                         0
original_language          0
overview                   0
popularity                 2
production_companies       0
production_countries       0
release_date               3
revenue                    0
runtime                  249
spoken_languages           0
status                     0
tagline                    0
title                      3
vote_average               3
vote_count                 3
release_year               3
return                     0
dtype: int64

In [23]:
# Convertir valores no numéricos o nulos en la columna "runtime" a 0
df['runtime'] = pd.to_numeric(df['runtime'], errors='coerce')
df['runtime'].fillna(0, inplace=True)

# Verificar el resultado
print(df['runtime'])

0         81.0
1        104.0
2        101.0
3        127.0
4        106.0
         ...
45374    104.0
45375    360.0
45376     90.0
45377     87.0
45378     75.0
Name: runtime, Length: 45379, dtype: float64

In [24]:
# Convertir valores no numéricos o nulos en la columna "popularity" a 0
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')
df['popularity'].fillna(0, inplace=True)

# Verificar el resultado
print(df['popularity'])

0        21.946943
1        17.015539
2        11.712900
3         3.859495
4         8.387519
           ...
45374     5.683753
45375     0.178241
45376     0.903007
45377     0.003503
45378     0.163015
Name: popularity, Length: 45379, dtype: float64

In [25]:
# Verificar columnas con valores nulos o vacíos
null_columns = df.columns[df.isnull().any()]
print(df[null_columns].isnull().sum())

release_date    3
title           3
vote_average    3
vote_count      3
release_year    3
dtype: int64

In [26]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('Dataset/movies_dataset_cleaned_finish.csv', index=False)

# Mostrar un mensaje de confirmación
print("El DataFrame se ha guardado en el archivo CSV correctamente.")

El DataFrame se ha guardado en el archivo CSV correctamente.

In [2]:
# Importa el archivo CSV a una variable
df = pd.read_csv('Dataset/movies_dataset_cleaned_finish.csv', dtype=object)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

NameError: name 'pd' is not defined

In [28]:
"""#cambiamos los idiomas con valores no ASCII por sus versiones en Ingles

# Lista de traducciones de idiomas
special_characters_translation = {
    'Slovenčina': 'Slovak',
    'پښتو': 'Pashto',
    'न': 'Nepali',
    '日本語': 'Japanese',
    'ह': 'Hindi',
    'Tiếng': 'Vietnamese',
    'ਪ': 'Punjabi',
    'ελληνικά': 'Greek',
    'தம': 'Tamil',
    'فارسی': 'Persian',
    'العربية': 'Arabic',
    'Türkçe': 'Turkish',
    'Latviešu': 'Latvian',
    'ב': 'Hebrew',
    'ব': 'Bengali',
    '조선말': 'Korean',
    '廣州話': 'Cantonese',
    '普通话': 'Mandarin',
    'език': 'Bulgarian',
    'Azərbaycan': 'Azerbaijani',
    'Español': 'Spanish',
    'Việt': 'Vietnamese',
    'ழ': 'Sinhalese',
    '한국어': 'Korean',
    'български': 'Bulgarian',
    'త': 'Telugu',
    'Pусский': 'Russian',
    'мова': 'Ukrainian',
    'ਜ': 'Urdu',
    'Український': 'Ukrainian',
    'Český': 'Czech',
    'Bokmål': 'Norwegian Bokmål',
    'ল': 'Bengali',
    'اردو': 'Urdu',
    'ע': 'Yiddish',
    'Português': 'Portuguese',
    'ר': 'Hebrew',
    'Íslenska': 'Icelandic',
    'беларуская': 'Belarusian',
    'қазақ': 'Kazakh',
    'ਬ': 'Punjabi',
    'Slovenščina': 'Slovenian',
    'Català': 'Catalan',
    '广州话': 'Cantonese',
    'గ': 'Telugu',
    'Română': 'Romanian',
    'ית': 'Yiddish',
    'ల': 'Telugu',
    'ქართული': 'Georgian',
    'ภาษาไทย': 'Thai',
    'Français': 'French',
    'द': 'Nepali'
}

# Función para reemplazar idiomas con caracteres especiales por sus versiones en inglés
def replace_special_characters_languages(languages_list):
    languages = languages_list.split(', ')
    for i, language in enumerate(languages):
        if language in special_characters_translation:
            languages[i] = special_characters_translation[language]
    return ', '.join(languages)

# Aplicar la función a la columna "spoken_languages"
df['spoken_languages'] = df['spoken_languages'].apply(replace_special_characters_languages)

# Mostrar las primeras 10 filas para verificar
print(df['spoken_languages'].head(10))"""

'#cambiamos los idiomas con valores no ASCII por sus versiones en Ingles\n\n# Lista de traducciones de idiomas\nspecial_characters_translation = {\n    \'Slovenčina\': \'Slovak\',\n    \'پښتو\': \'Pashto\',\n    \'न\': \'Nepali\',\n    \'日本語\': \'Japanese\',\n    \'ह\': \'Hindi\',\n    \'Tiếng\': \'Vietnamese\',\n    \'ਪ\': \'Punjabi\',\n    \'ελληνικά\': \'Greek\',\n    \'தம\': \'Tamil\',\n    \'فارسی\': \'Persian\',\n    \'العربية\': \'Arabic\',\n    \'Türkçe\': \'Turkish\',\n    \'Latviešu\': \'Latvian\',\n    \'ב\': \'Hebrew\',\n    \'ব\': \'Bengali\',\n    \'조선말\': \'Korean\',\n    \'廣州話\': \'Cantonese\',\n    \'普通话\': \'Mandarin\',\n    \'език\': \'Bulgarian\',\n    \'Azərbaycan\': \'Azerbaijani\',\n    \'Español\': \'Spanish\',\n    \'Việt\': \'Vietnamese\',\n    \'ழ\': \'Sinhalese\',\n    \'한국어\': \'Korean\',\n    \'български\': \'Bulgarian\',\n    \'త\': \'Telugu\',\n    \'Pусский\': \'Russian\',\n    \'мова\': \'Ukrainian\',\n    \'ਜ\': \'Urdu\',\n    \'Український\': \'Ukrainian\',\n    \'Český\': \'Czech\',\n    \'Bokmål\': \'Norwegian Bokmål\',\n    \'ল\': \'Bengali\',\n    \'اردو\': \'Urdu\',\n    \'ע\': \'Yiddish\',\n    \'Português\': \'Portuguese\',\n    \'ר\': \'Hebrew\',\n    \'Íslenska\': \'Icelandic\',\n    \'беларуская\': \'Belarusian\',\n    \'қазақ\': \'Kazakh\',\n    \'ਬ\': \'Punjabi\',\n    \'Slovenščina\': \'Slovenian\',\n    \'Català\': \'Catalan\',\n    \'广州话\': \'Cantonese\',\n    \'గ\': \'Telugu\',\n    \'Română\': \'Romanian\',\n    \'ית\': \'Yiddish\',\n    \'ల\': \'Telugu\',\n    \'ქართული\': \'Georgian\',\n    \'ภาษาไทย\': \'Thai\',\n    \'Français\': \'French\',\n    \'द\': \'Nepali\'\n}\n\n# Función para reemplazar idiomas con caracteres especiales por sus versiones en inglés\ndef replace_special_characters_languages(languages_list):\n    languages = languages_list.split(\', \')\n    for i, language in enumerate(languages):\n        if language in special_characters_translation:\n            languages[i] = special_characters_translation[language]\n    return \', \'.join(languages)\n\n# Aplicar la función a la columna "spoken_languages"\ndf[\'spoken_languages\'] = df[\'spoken_languages\'].apply(replace_special_characters_languages)\n\n# Mostrar las primeras 10 filas para verificar\nprint(df[\'spoken_languages\'].head(10))'

In [29]:
"""# Lista de traducciones de idiomas
special_characters_translation = {
    'беларуская мова': 'Belarusian',
    'български език': 'Bulgarian',
    'עִבְרִית': 'Hebrew',
    'हिन्दी': 'Hindi',
    'বাংলা': 'Bengali',
    'ਪੰਜਾਬੀ': 'Punjabi',
    'தமிழ்': 'Tamil',
    'తెలుగు': 'Telugu',
    '广州话 / 廣州話': 'Cantonese',
    '한국어/조선말': 'Korean',
    '?????': 'Undefined',  # Reemplazar por 'Undefined'
    '??????': 'Undefined',  # Reemplazar por 'Undefined'
    'No Language': 'Undefined',  # Reemplazar por 'Undefined'
    ' ': 'Undefined'  # Reemplazar espacios en blanco por 'Undefined'
}

# Función para reemplazar idiomas con caracteres especiales por sus versiones en inglés
def replace_special_characters_languages(languages_list):
    languages = languages_list.split(', ')
    for i, language in enumerate(languages):
        if language in special_characters_translation:
            languages[i] = special_characters_translation[language]
    return ', '.join(languages)

# Aplicar la función a la columna "spoken_languages"
df['spoken_languages'] = df['spoken_languages'].apply(replace_special_characters_languages)

# Mostrar las primeras 10 filas para verificar
print(df['spoken_languages'].head(10))"""

'# Lista de traducciones de idiomas\nspecial_characters_translation = {\n    \'беларуская мова\': \'Belarusian\',\n    \'български език\': \'Bulgarian\',\n    \'עִבְרִית\': \'Hebrew\',\n    \'हिन्दी\': \'Hindi\',\n    \'বাংলা\': \'Bengali\',\n    \'ਪੰਜਾਬੀ\': \'Punjabi\',\n    \'தமிழ்\': \'Tamil\',\n    \'తెలుగు\': \'Telugu\',\n    \'广州话 / 廣州話\': \'Cantonese\',\n    \'한국어/조선말\': \'Korean\',\n    \'?????\': \'Undefined\',  # Reemplazar por \'Undefined\'\n    \'??????\': \'Undefined\',  # Reemplazar por \'Undefined\'\n    \'No Language\': \'Undefined\',  # Reemplazar por \'Undefined\'\n    \' \': \'Undefined\'  # Reemplazar espacios en blanco por \'Undefined\'\n}\n\n# Función para reemplazar idiomas con caracteres especiales por sus versiones en inglés\ndef replace_special_characters_languages(languages_list):\n    languages = languages_list.split(\', \')\n    for i, language in enumerate(languages):\n        if language in special_characters_translation:\n            languages[i] = special_characters_translation[language]\n    return \', \'.join(languages)\n\n# Aplicar la función a la columna "spoken_languages"\ndf[\'spoken_languages\'] = df[\'spoken_languages\'].apply(replace_special_characters_languages)\n\n# Mostrar las primeras 10 filas para verificar\nprint(df[\'spoken_languages\'].head(10))'

In [30]:
"""# Lista de idiomas originales
original_languages = [
    'беларуская мова', 
    'български език', 
    'עִבְרִית', 
    'हिन्दी', 
    'বাংলা', 
    'ਪੰਜਾਬੀ', 
    'தமிழ்', 
    'తెలుగు', 
    '广州话 / 廣州話', 
    '한국어/조선말', 
    '?????', 
    '??????', 
    'No Language', 
    ' '  # Espacio en blanco
]

# Verificar si los valores originales aparecen en la columna "spoken_languages"
for language in original_languages:
    if any(df['spoken_languages'].str.contains(language)):
        print(f"El idioma original '{language}' aparece en la columna 'spoken_languages'.")"""

'# Lista de idiomas originales\noriginal_languages = [\n    \'беларуская мова\', \n    \'български език\', \n    \'עִבְרִית\', \n    \'हिन्दी\', \n    \'বাংলা\', \n    \'ਪੰਜਾਬੀ\', \n    \'தமிழ்\', \n    \'తెలుగు\', \n    \'广州话 / 廣州話\', \n    \'한국어/조선말\', \n    \'?????\', \n    \'??????\', \n    \'No Language\', \n    \' \'  # Espacio en blanco\n]\n\n# Verificar si los valores originales aparecen en la columna "spoken_languages"\nfor language in original_languages:\n    if any(df[\'spoken_languages\'].str.contains(language)):\n        print(f"El idioma original \'{language}\' aparece en la columna \'spoken_languages\'.")'

In [31]:
# Guardar el DataFrame en un archivo CSV, sobrescribiendo si existe
df.to_csv('Dataset/movies_dataset_cleaned_finish.csv', index=False)

# Mostrar un mensaje de confirmación
print("El DataFrame se ha guardado en el archivo CSV correctamente.")

El DataFrame se ha guardado en el archivo CSV correctamente.

In [32]:
df["spoken_languages"].head(20)

0                       English
1             English, Français
2                       English
3                       English
4                       English
5              English, Español
6             Français, English
7              English, Deutsch
8                       English
9     English, Pусский, Español
10                      English
11             English, Deutsch
12                      English
13                      English
14               English, Latin
15                      English
16                      English
17                      English
18                      English
19                      English
Name: spoken_languages, dtype: object

In [33]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('Dataset/movies_dataset_cleaned_finish.csv', index=False)

# Mostrar un mensaje de confirmación
print("El DataFrame se ha guardado en el archivo CSV correctamente.")

El DataFrame se ha guardado en el archivo CSV correctamente.

In [1]:
df.head()

NameError: name 'df' is not defined

Limpiamos el dataset credits

In [35]:
# Leer el archivo CSV
df_credits = pd.read_csv('Dataset/credits.csv')

# Convertir la cadena JSON en una lista de diccionarios
df_credits['cast'] = df_credits['cast'].apply(ast.literal_eval)

# Función para obtener los nombres de los actores
def get_actor_names(cast_list):
    return ', '.join([actor['name'] for actor in cast_list])

# Crear una nueva columna "actors" con los nombres de los actores
df_credits['actors'] = df_credits['cast'].apply(get_actor_names)

# Mostrar los primeros 5 registros de la nueva columna "actors"
df_credits.head(5)

,cast,crew,id,actors
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender'...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', 'gender': 2, 'id': 7879, '...",862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney, Wallace Shawn, John Ratzenberger, Annie Potts, Jo..."
1,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a36847f80a7c73', 'gender': ...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', 'gender': 2, 'id': 511, '...",8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, Bradley Pierce, Bonnie Hunt, Bebe Neuwirth, David ..."
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a9251416c75077a8d', 'gender': 2...","[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', 'gender': 2, 'id': 26502, ...",15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Sophia Loren, Daryl Hannah, Burgess Meredith, Kevin Po..."
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah' Jackson', 'credit_id': '52fe44779251416c91011aad...","[{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', 'gender': 2, 'id': 2178, '...",31357,"Whitney Houston, Angela Bassett, Loretta Devine, Lela Rochon, Gregory Hines, Dennis Haysbert, Mi..."
4,"[{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251416c75039eb9', 'gender': ...","[{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gender': 2, 'id': 37, 'job': ...",11862,"Steve Martin, Diane Keaton, Martin Short, Kimberly Williams-Paisley, George Newbern, Kieran Culk..."

In [36]:
# Convertir la cadena JSON en una lista de diccionarios para la columna "crew"
df_credits['crew'] = df_credits['crew'].apply(ast.literal_eval)

# Filtrar los elementos donde el valor de "job" sea "Director"
df_credits['directors'] = df_credits['crew'].apply(lambda crew_list: ', '.join([crew['name'] for crew in crew_list if crew['job'] == 'Director']))

# Eliminar las columnas antiguas "cast" y "crew"
df_credits.drop(columns=['cast', 'crew'], inplace=True)

# Mostrar los primeros 5 registros de la nueva columna "directors"
df_credits.head(5)

,id,actors,directors
0,862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney, Wallace Shawn, John Ratzenberger, Annie Potts, Jo...",John Lasseter
1,8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, Bradley Pierce, Bonnie Hunt, Bebe Neuwirth, David ...",Joe Johnston
2,15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Sophia Loren, Daryl Hannah, Burgess Meredith, Kevin Po...",Howard Deutch
3,31357,"Whitney Houston, Angela Bassett, Loretta Devine, Lela Rochon, Gregory Hines, Dennis Haysbert, Mi...",Forest Whitaker
4,11862,"Steve Martin, Diane Keaton, Martin Short, Kimberly Williams-Paisley, George Newbern, Kieran Culk...",Charles Shyer

In [37]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         45476 non-null  int64
 1   actors     45476 non-null  object
 2   directors  45476 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [38]:
# Guardar el DataFrame en un nuevo archivo CSV
df_credits.to_csv('Dataset/credits_cleaned.csv', index=False)