In [1]:
#Importamos librerias necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import sqlalchemy
from sqlalchemy import create_engine
import sqlite3
import ast

In [2]:
# Establecemos el maximo del ancho de columnas
pd.set_option('max_colwidth', 100)

# Importa el archivo CSV a una variable
df = pd.read_csv('Dataset/movies_dataset.csv', dtype=object)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  object
 16  runtime                45203 non-null  object
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  object
 23  vote_count             45460 non-null  object
dtypes: object(24)
memory usage: 8.3+ MB
None

In [3]:
# Eliminar las columnas que no serán utilizadas
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
df.drop(columns=columns_to_drop, inplace=True)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  object
 11  runtime                45203 non-null  object
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  object
 17  vote_count             45460 non-null  object
dtypes: object(18)
memory usage: 6.2+ MB
None

In [4]:
# Función para extraer el nombre de la colección
def extract_collection_name(x):
    if pd.notnull(x):
        start_idx = x.find("'name': '") + len("'name': '")
        end_idx = x.find("'", start_idx)
        return x[start_idx:end_idx] if start_idx > -1 and end_idx > -1 else None
    return None

# Desanidar la columna 'belongs_to_collection' y extraer el campo 'name'
df['belongs_to_collection'] = df['belongs_to_collection'].apply(extract_collection_name)

# Mostrar los primeros 5 registros para verificar los cambios
print(df['belongs_to_collection'].head(5))

0              Toy Story Collection
1                              None
2         Grumpy Old Men Collection
3                              None
4    Father of the Bride Collection
Name: belongs_to_collection, dtype: object

In [6]:
# Guardar el DataFrame en un nuevo archivo CSV
df.to_csv('Dataset/movies_dataset_cleaned.csv', index=False)

In [7]:
# Establecemos el maximo del ancho de columnas
pd.set_option('max_colwidth', 100)

# Leer el archivo CSV
df = pd.read_csv('Dataset/movies_dataset_cleaned.csv', dtype=object)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  object
 11  runtime                45203 non-null  object
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  object
 17  vote_count             45460 non-null  object
dtypes: object(18)
memory usage: 6.2+ MB
None

In [8]:
# Función para obtener los géneros separados por comas
def get_genre_names(genres_list):
    try:
        genres = ast.literal_eval(genres_list)
        if isinstance(genres, list):
            return ', '.join([genre['name'] for genre in genres])
        else:
            return ''
    except (SyntaxError, ValueError):
        return ''

# Aplicar la función a la columna "genres" para obtener los géneros separados por comas
df['genres'] = df['genres'].apply(get_genre_names)

# Mostrar los primeros 5 registros de la columna "genres"
print(df['genres'].head())

0     Animation, Comedy, Family
1    Adventure, Fantasy, Family
2               Romance, Comedy
3        Comedy, Drama, Romance
4                        Comedy
Name: genres, dtype: object

In [9]:
# Función para obtener las compañías de producción separadas por comas
def get_production_companies_names(companies_list):
    try:
        companies = ast.literal_eval(companies_list)
        if isinstance(companies, list):
            return ', '.join([company['name'] for company in companies])
        else:
            return ''
    except (SyntaxError, ValueError):
        return ''

# Aplicar la función a la columna "production_companies" para obtener las compañías separadas por comas
df['production_companies'] = df['production_companies'].apply(get_production_companies_names)

# Mostrar los primeros 5 registros de la columna "production_companies"
print(df['production_companies'].head())

0                                      Pixar Animation Studios
1    TriStar Pictures, Teitler Film, Interscope Communications
2                                 Warner Bros., Lancaster Gate
3                       Twentieth Century Fox Film Corporation
4                   Sandollar Productions, Touchstone Pictures
Name: production_companies, dtype: object

In [10]:
# Función para obtener los países de producción separados por comas
def get_production_countries_names(countries_list):
    try:
        countries = ast.literal_eval(countries_list)
        if isinstance(countries, list):
            return ', '.join([country['name'] for country in countries])
        else:
            return ''
    except (SyntaxError, ValueError):
        return ''

# Aplicar la función a la columna "production_countries" para obtener los países separados por comas
df['production_countries'] = df['production_countries'].apply(get_production_countries_names)

# Mostrar los primeros 5 registros de la columna "production_countries"
print(df['production_countries'].head())

0    United States of America
1    United States of America
2    United States of America
3    United States of America
4    United States of America
Name: production_countries, dtype: object

In [11]:
# Función para obtener los idiomas hablados separados por comas
def get_spoken_languages_names(languages_list):
    try:
        languages = ast.literal_eval(languages_list)
        if isinstance(languages, list):
            return ', '.join([language['name'] for language in languages])
        else:
            return ''
    except (SyntaxError, ValueError):
        return ''

# Aplicar la función a la columna "spoken_languages" para obtener los idiomas separados por comas
df['spoken_languages'] = df['spoken_languages'].apply(get_spoken_languages_names)

# Mostrar los primeros 5 registros de la columna "spoken_languages"
print(df['spoken_languages'].head())

# Guardar el DataFrame en un nuevo CSV
df.to_csv('Dataset/movies_dataset_cleaned.csv', index=False)

0              English
1    English, Français
2              English
3              English
4              English
Name: spoken_languages, dtype: object

In [12]:
# Rellenar los valores nulos de las columnas "revenue" y "budget" con 0
df['revenue'].fillna(0, inplace=True)
df['budget'].fillna(0, inplace=True)

#Imprime las dimensiones del DATA FRAME
print(df.shape)

#Muestra la informacion del DATA FRAME
print(df.info())

(45466, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45466 non-null  object
 8   production_countries   45466 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45466 non-null  object
 11  runtime                45203 non-null  object
 12  spoken_languages       45466 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  object
 17  vote_count             45460 non-null  object
dtypes: object(18)
memory usage: 6.2+ MB
None

In [13]:
# Verificar que no hay valores nulos en las columnas "revenue" y "budget"
print(df['revenue'].isnull().sum())
print(df['budget'].isnull().sum())

0
0

In [14]:
# Eliminar filas con valores nulos en la columna "release_date"
df.dropna(subset=['release_date'], inplace=True)

# Mostrar la forma (shape) del DataFrame después de eliminar los valores nulos en "release_date"
print(df.shape)

(45379, 18)

In [18]:
# Contar la cantidad de registros con valor nulo en la columna "release_date"
null_release_date_count = df['release_date'].isnull().sum()

# Mostrar la cantidad de registros con valor nulo
print("Cantidad de registros con valor nulo en la columna 'release_date':", null_release_date_count)

Cantidad de registros con valor nulo en la columna 'release_date': 3

In [19]:
# Eliminar registros con valor nulo en la columna "release_date"
df = df.dropna(subset=['release_date'])

# Mostrar la nueva forma del DataFrame después de eliminar los registros
print("Nueva forma del DataFrame después de eliminar registros:", df.shape)

Nueva forma del DataFrame después de eliminar registros: (45376, 19)

In [20]:
# Convertir la columna "release_date" al formato de fecha de pandas
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# Crear la columna "release_year" con el año de la fecha de estreno
df['release_year'] = df['release_date'].dt.year

# Mostrar los primeros 5 registros para verificar los cambios
print(df.head())

            belongs_to_collection    budget                      genres  \
0            Toy Story Collection  30000000   Animation, Comedy, Family
1                             NaN  65000000  Adventure, Fantasy, Family
2       Grumpy Old Men Collection         0             Romance, Comedy
3                             NaN  16000000      Comedy, Drama, Romance
4  Father of the Bride Collection         0                      Comedy

      id original_language  \
0    862                en
1   8844                en
2  15602                en
3  31357                en
4  11862                en

                                                                                              overview  \
0  Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear o...
1  When siblings Judy and Peter discover an enchanted board game that opens the door to a magical w...
2  A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John...
3  Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusi...
4  Just when George Banks has recovered from his daughter's wedding, he receives the news that she'...

  popularity                                       production_companies  \
0  21.946943                                    Pixar Animation Studios
1  17.015539  TriStar Pictures, Teitler Film, Interscope Communications
2    11.7129                               Warner Bros., Lancaster Gate
3   3.859495                     Twentieth Century Fox Film Corporation
4   8.387519                 Sandollar Productions, Touchstone Pictures

       production_countries release_date    revenue runtime  \
0  United States of America   1995-10-30  373554033    81.0
1  United States of America   1995-12-15  262797249   104.0
2  United States of America   1995-12-22          0   101.0
3  United States of America   1995-12-22   81452156   127.0
4  United States of America   1995-02-10   76578911   106.0

    spoken_languages    status  \
0            English  Released
1  English, Français  Released
2            English  Released
3            English  Released
4            English  Released

                                                                          tagline  \
0                                                                             NaN
1                                       Roll the dice and unleash the excitement!
2                            Still Yelling. Still Fighting. Still Ready for Love.
3  Friends are the people who let you be yourself... and never let you forget it.
4  Just When His World Is Back To Normal... He's In For The Surprise Of His Life!

                         title vote_average vote_count  release_year
0                    Toy Story          7.7       5415          1995
1                      Jumanji          6.9       2413          1995
2             Grumpier Old Men          6.5         92          1995
3            Waiting to Exhale          6.1         34          1995
4  Father of the Bride Part II          5.7        173          1995

In [22]:
# Función para calcular el retorno de inversión
def calculate_return(revenue, budget):
    try:
        revenue = float(revenue)
        budget = float(budget)
        if budget > 0:
            return revenue / budget
        else:
            return 0
    except (ValueError, TypeError):
        return 0

# Crear la columna "return" y calcular el retorno de inversión para cada película
df['return'] = df.apply(lambda row: calculate_return(row['revenue'], row['budget']), axis=1)

# Mostrar la forma (shape) del DataFrame
print(df.shape)

(45376, 20)

In [23]:
df.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear o...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033,81.0,English,Released,NaN,Toy Story,7.7,5415,1995,12.451801
1,NaN,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an enchanted board game that opens the door to a magical w...,17.015539,"TriStar Pictures, Teitler Film, Interscope Communications",United States of America,1995-12-15,262797249,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413,1995,4.043035
2,Grumpy Old Men Collection,0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,6.5,92,1995,0.000000
3,NaN,16000000,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusi...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156,127.0,English,Released,Friends are the people who let you be yourself... and never let you forget it.,Waiting to Exhale,6.1,34,1995,5.090760
4,Father of the Bride Collection,0,Comedy,11862,en,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she'...",8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911,106.0,English,Released,Just When His World Is Back To Normal... He's In For The Surprise Of His Life!,Father of the Bride Part II,5.7,173,1995,0.000000

In [24]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('Dataset/movies_dataset_cleaned_finish.csv', index=False)

# Mostrar un mensaje de confirmación
print("El DataFrame se ha guardado en el archivo CSV correctamente.")

El DataFrame se ha guardado en el archivo CSV correctamente.

In [25]:
#Muestra la informacion del DATA FRAME
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  object
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  object
 11  runtime                45130 non-null  object
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  object
 17  vote_count             45376 non-null  object
 18  release_year           45376 non-null  int64
 19  return                 45376 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(17)
memory usage: 7.3+ MB
None